<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input label="Solid input" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

  
  <ion-radio-group value="screenmode">
    <ion-radio value="light">light</ion-radio><br />
    <ion-radio value="dark">dark</ion-radio><br />
  </ion-radio-group>

</ion-content>
